footer{
    background-image: url(../img/runners.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 210px 0 200px ;
    .main-footer__inner{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end;
        margin-left: 645px;
        h2{
            margin: 0;
            margin-bottom: 60px;
            width: 400px;
        }
        span{
            margin-left: 0;
        }
        .white-line{
            border-left:3px solid #fff;
        }
    }
}